* {
  margin: 0;
}

body {
  font-family: Roboto, serif;
  display: flex;
  flex-direction: column;
}

/* HERO AND HEADER SECTION */

.hero {
  background-color: #1f2937;
  padding-inline: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .content {
  width: 1000px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.header-links {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.header-links a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 40px;
}

.hero-content h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-content p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-content .left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 0 1 450px;
}

.hero-content button {
  background-color: #3882f6;
  padding: 8px 32px;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  border: 0;
  margin-top: 16px;
}

.hero-content img {
  width: 200px;
  flex: 1 1 auto;
  border-radius: 8px;
}

/* SECTION 2 */

.section2 {
  padding-inline: 20px;
}

.section2 h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  margin-block: 60px;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 150px;
}

.card {
  flex: 0 0 150px;
}

.card img {
  border: 6px solid #3882f6;
  border-radius: 16px;
  width: 175px;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-bottom: 4px;
}

.card p {
  color: gray;
  font-size: 16px;
  text-align: center;
}

/* SECTION 3 */

.section3 {
  background-color: #e5e7eb;
  padding-block: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3-content {
  width: 800px;
  padding-inline: 20px;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
}

.author {
  text-align: right;
  font-weight: bold;
  font-size: 24px;
}

.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section4 .box {
  height: 100px;
  border-radius: 12px;
  background-color: #3882f6;
  padding: 30px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 100px;
  color: white;
  flex: 0 1 900px;
  margin-inline: 20px;
  flex-wrap: wrap;
}

.section4 .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
}

.section4 button {
  padding: 8px 36px;
  border: 3px solid white;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: white;
  padding: 30px;
}
